<div *ngIf="banda != undefined">
    <span>Nome: {{banda.nome}}</span>
    <br />
    <span>Descrição: {{banda.descricao}}</span>
    <img [src]="banda.backdrop">
</div>

<mat-accordion >
    <mat-expansion-panel hideToggle *ngFor="let album of albuns" >
        <mat-expansion-panel-header>
            <mat-panel-title>
               Album: {{album.nome}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let music of album.musicas">
         <p>Musica: {{music.nome}} <mat-slide-toggle (change)="FavoritarMusica($event, music)">Favoritar </mat-slide-toggle></p>                         
        </div>
    </mat-expansion-panel>
</mat-accordion>